%h2 Imprint
:textile
  Jan Krutisch Hard- und Softwareberatung
  Tegelweg 21
  22159 Hamburg

  GERMANY

%p
  Email:
  = mail_to "jan@krutisch.de"
%p
  Tel.: +49-1752935345
:textile

  h3. Haftungshinweis

  Trotz sorgfältiger inhaltlicher Kontrolle übernehme ich keine Haftung für die Inhalte externer Links. Für den Inhalt der verlinkten Seiten sind ausschließlich deren Betreiber verantwortlich.
