- @page_title = "Welcome"

= render "shirts/mosaic"
.more
  = link_to 'more...', shirts_path

%h2 We are the generation tee
:textile
  This is a web project to celebrate clever t-shirts. It needs your help. Upload your shirts, tag them and by that create a comprehensive database of 
  modern t-shirt culture.
  
  Really, anything goes - From your latest conference t-shirt, or the one you bought directly from that musician after the concert, we're interested in all of them.
  
  To start adding your own shirts, simply use your "twitter login":/auth/twitter to register and then fire away.
  
  If you want to keep up to date with the progress of this endeavour, feel free to follow "outtacotton":http://twitter.com/outtacotton on "twitter":http://twitter.com/.

